 body {
	min-width: 320px;
	max-width: 1920px;
	background-color: #D2691E;
	margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1% ;
	font-family: Verdana,Geneva, Arial;
	font-size: 11px;
	text-align: center;
	 }
 @media only screen and (min-width: 320px)and (max-width: 375px){	 
 #header__text{
		float: right;
		width: 60%;
		text-align: center;
		height: 68px;
		padding: 0 2% 1% 0 ;
        }
#logo {
		width: 35% ;
		height: auto;
		float: left;
		}	
.mein__dress, .mein__bluz,.mein__bryk
   {
	display: inline-block;
	width:30%;
	height: 50px;
	vertical-align: top;
	}
#novinki {
	margin-top: 5%;
}
#news {
	margin-top: 25%;
}
#tel{
	margin-top: 10%;
		}
#kypon{
	margin-top: 10%;
}		
}
@media only screen and (min-width: 376px)and (max-width: 768px){	
#logo {
		width: 35% ;
		height: auto;
		float: left;
		}	
#header__text{
			float: right;
			width: 60%;
			text-align: center;
			height: 100px;
			padding: 0 2% 1% 0 ;
			margin-top: 5%;
		}
p{
	font-size: 12px;
	font-weight: bold;
}
#novinki {
	margin: 5% 1% 5% 1%;	
	float: left;
}
#novinki img {
	display: inline-block;
	width:auto;
	height: 100px;
	vertical-align: top;
}	
.mein__dress, .mein__bluz,.mein__bryk
   {
	display: inline-block;
	width:65%;
	height: 50px;
	vertical-align: top;
	
	}	

}
@media only screen and (min-width: 1224px)and (max-width: 1980px){
   
#logo {
	width: 30% ;
	height: auto;
	float: left;
	margin: 0 1% 1% 0;
}
#header__text{
		float: right;
		width: 60%;
		text-align: center;
		height: auto;
		padding: 0 2% 1% 0 ;
		font-size: 50px;
}	
p{
	font-size: 30px;
	font-weight: bold;
}
#novinki {
	margin: 5% 1% 5% 1%;	
	float: left;
	width: 45%;
}
#novinki img {
	display: inline-block;
	width:auto;
	height: 100px;
	vertical-align: top;
}	

#tel {
font-family: serif;
color: black; 
font-weight: bolder;
text-decoration: underline;
}
#kypon {
position: fixed; 
/* bottom: %; */
right: -2%;
}	
/* .vibor {
width: 100%;
margin: auto;
height: 20%;
clear: left;
}
.dress{
 float: left; /*Задаем обтекание*/
 /* font-size: 50px;
 width: 15%; /*Фиксируем ширину блока*/
 /* margin-right: 10px; */ 
 

/* h4{
font-size: 20px; */

/* #news {
border: 1px solid #800000;
text-align: center;
font-weight: bolder;
width: 45%;
margin: 0 0 0 90px;
height: 400px; */
/*left: 300px; */
/*  float: right; */
/* top: 20%;
right: 70%; */
/* }
#novinki {
float: right;
border: 1px solid #800000;
text-align: center;
font-weight: bolder;
width: 45%;
margin: 0 90px 0 10px;
height: 400px;
}
#novinki img{
margin: 10px 10px 10px 10px;
} */
.mein__oll{
	float: right;
	border: 1px solid #800000;
	/* text-align: center; */
	font-weight: bolder;
	width: 45%;
	margin: 0 90px 0 10px;
	height: 400px;
	}
	.mein__oll img{
	margin: 10px 10px 10px 10px;
	}

}
