 body {
	min-width: 320px;
	max-width: 1920px;
	background-color: #D2691E;
	margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1% ;
	font-family: Verdana,Geneva, Arial;
	font-size: 2vw;
	text-align: center;
	 }
/* .main{
	margin-top: 3%;
} */
.promotion__descr{ /*промотекст*/
	margin-top:40px;
	font-size:11px;
	line-height:24px;
	font-weight:300;
	font-weight: bold;
}
.promotion__descr span{
	font-weight:700;
	font-size:11px;
}
.promotion__timer{  /*блок таймеров*/
	width:auto
}
.promotion__timer .title{
	text-align:center
}
.promotion__timer .timer{
	padding-left:1%;
	padding-right:1%;
	display:flex;
	justify-content:space-between;
	align-items:center
}
.promotion__timer .tmein__ollimer__block{ /*окошки*/
	width:102px;
	height:120px;
	background:#fff;
	box-shadow:0 4px 20px rgba(0,0,0,.25);
	font-size:16px;
	font-weight:300;
	text-align:center
}
.promotion__timer .timer__block span{ /*окошки содержимое*/
	display:block;
	margin-top:20px;
	margin-bottom:5px;
	font-size:56px;
	font-weight:700
}
	 
.name__input, .email__input {
		border-radius:10px;
		width: 80% ;
	    padding: 1%  1%  5% 1% ;
		margin: 3% 1% 1% 1%;
	}
	#btnnow,#btn {
		border-radius:10px;
		
		margin: 3% 1% 1% 1%;
		background-color: #D2691E;
	}

	.add,.user__alert {

		position: absolute;
		z-index:  100;
		background-color: darkred;
		border-radius:10px;
		padding: 1%  1%  5% 1% ;
	
	}

	.promo__interactive-title {
		font-weight: bold;
		font-size: 130%;
	}
	button.btn.btn_white {
		font-weight: bold;
		background-color: darkred;
		border-radius:10px;
		margin-right: 3%;
		margin-bottom: 15%;
		float: right;
	}
	#novinki {
		display: flex;
		justify-content: space-around;
		margin: 3% 1% 5% 1%;	
		

	}
	#novinki img {
	
		width:auto;
		height: 6em;
	
		margin: 1% 1% 1% 1%;
	}	

.shapka{
	display: flex;
	justify-content: space-around;
}

#logo {
		width: 50% ;
		height: auto;
		float: left;
		}
#header__text{
	width: auto ;
	height: auto;
	font-size: 2vw;
	padding-top: 8vw;
}
.mein__oll {
	display: flex;
		justify-content: space-around;
		margin: 3% 1% 5% 1%;	
}

