 body {
	min-width: 320px;
	max-width: 1920px;
	background-color: #D2691E;
	margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1% ;
	font-family: Verdana,Geneva, Arial;
	font-size: 11px;
	text-align: center;
	 }
 @media only screen and (min-width: 320px)and (max-width: 450px){	 
 #header__text{
		float: right;
		width: 60%;
		text-align: center;
		height: 1em;
		padding: 0 2% 1% 0 ;
        }
#logo {
		width: 35% ;
		height: auto;
		float: left;
		}	
.mein__dress, .mein__bluz,.mein__bryk
   {
	display: inline-block;
	width:30%;
	height: 50px;
	vertical-align: top;
	}
#novinki {
	margin-top: 5%;
}
#news {
	margin-top: 25%;
}
#tel{
	margin-top: 10%;
		}
#kypon{
	margin-top: 10%;
}		
}
@media only screen and (min-width: 451px)and (max-width: 670px){	
	#logo {
		width: 30% ;
		height: auto;
		float: left;
		margin: 0 1% 1% 0;
	}
	#header__text{
			float: right;
			width: 60%;
			text-align: center;
			height: auto;
			padding: 0 2% 1% 0 ;
			font-size: 1em;
	}	
	p{
		font-size: 1em;
		font-weight: bold;
	}
	#novinki {
		margin: 3% 1% 5% 1%;	
		float: left;
		width: 45%;
	}
	#novinki img {
		display: inline-block;
		width:auto;
		height: 6em;
		vertical-align: top;
		margin: 1% 1% 1% 1%;
	}	
	
	#tel {
	font-family: serif;
	color: black; 
	font-weight: bolder;
	margin: 5% auto auto auto;
	font-size: 140%;
	}
	#kypon {
	/* position: fixed;  */
	/* right: -2%; */
	top: 10%;
	}	
	
	.mein__oll{
		float: right;
		font-weight: bolder;
		width: 40%;
		 margin: 5% 10% 0 1%;    	
		height: auto;
		font-size: 1,9em;
		position: relative;
		
		}		
		.mein__oll img{
			height: 4em;
			width: auto;
		}
	.mein__oll h1{
		text-align: right;
		font-size: 1em;
	
	}
	.mein__dress{
		position: absolute;
		margin: 0 1%  1%  10% ;
	
	}
	.mein__bluz{
		position: absolute;
		margin: 0 1%  1%  80% ;
	
	}
	.mein__bryk{
		position: absolute;
		margin: 0 1%  1%  45% ;
	
	}
	#news{
		margin: 30%  5% 5% auto;
		font-size: 1em;
		
		}

}
@media only screen and (min-width: 671px)and (max-width: 1099px){	
	#logo {
		width: 30% ;
		height: auto;
		float: left;
		margin: 0 1% 1% 0;
	}
	#header__text{
			float: right;
			width: 60%;
			text-align: center;
			height: auto;
			padding: 0 2% 1% 0 ;
			font-size: 160%;
	}	
	p{
		font-size:140%;
		font-weight: bold;
	}
	#novinki {
		margin: 0 1% 5% 1%;	
		float: left;
		width: 45%;
	}
	#novinki img {
		display: inline-block;
		width:auto;
		height: 10em;
		vertical-align: top;
		margin: 1% 1% 1% 1%;
	}	
	
	#tel {
	font-family: serif;
	color: black; 
	font-weight: bolder;
	margin: 5% auto auto auto;
	font-size: 160%;
	}
	
	.mein__oll{
		float: right;
		font-weight: bolder;
		width: 40%;
		 margin: 0 10% 0 1%;    	
		height: auto;
		font-size: 1,9em;
		position: relative;
		
		}		
		.mein__oll img{
			height: 6em;
			width: auto;
		}
	.mein__oll h1{
		text-align: center;
		font-size: 140%;
	
	}
	.mein__dress{
		position: absolute;
		margin: 0 1%  1%  10% ;
	
	}
	.mein__bluz{
		position: absolute;
		margin: 0 1%  1%  80% ;
	
	}
	.mein__bryk{
		position: absolute;
		margin: 0 1%  1%  45% ;
	
	}
	#news{
		margin: 30%  5% 3% auto;
		font-size: 120%;
		
		}

}
@media only screen and (min-width: 1100px)and (max-width: 1980px){
   
#logo {
	width: 30% ;
	height: auto;
	float: left;
	margin: 0 1% 1% 0;
}
#header__text{
		float: right;
		width: 60%;
		text-align: center;
		height: auto;
		padding: 0 2% 1% 0 ;
		font-size: 3em;
}	
p{
	font-size: 30px;
	font-weight: bold;
}
#novinki {
	margin: 10% 1% 5% 1%;	
	float: left;
	width: 45%;
}
#novinki img {
	display: inline-block;
	width:auto;
	height: 200px;
	vertical-align: top;
	margin: 1% 1% 1% 1%;
}	

#tel {
font-family: serif;
color: black; 
font-weight: bolder;
margin: 5% auto auto auto;
font-size: 2em;
}
#kypon {
position: fixed; 
right: -2%;
}	

.mein__oll{
	float: right;
	font-weight: bolder;
	width: 40%;
     margin: 5% 10% 0 1%;    	
	height: 400px;
	font-size: 15px;
	position: relative;
	}		
	.mein__oll img{
		height: 200px;
		width: auto;
	}
.mein__oll h1{
	text-align: right;
}
.mein__dress{
	position: absolute;
	margin: 1% 1%  1%  10% ;

}
.mein__bluz{
	position: absolute;
	margin: 1% 1%  1%  80% ;

}
.mein__bryk{
	position: absolute;
	margin: 1% 1%  1%  40% ;

}
#news{
	margin-top: 40%;
	font-size: 2em;
	}
}
